@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
header{
    display: flex;
    flex-direction: column;
    background-image: url(./image-\(2\).png); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;

}
.container-in-which-the-logo-and-mini-navigation img{
    padding-left: 150px ;
    margin-top: 10px ;
}