@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
.conteiner{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}
header{
    background-image:url(./img/Image.png);
    background-size: cover;
    height: 650px;
}
.logo{
    top: 29.70px;
    position: absolute;
    width: 155.55px;
    left: 205px;
    transform: rotate(-4.5deg);
}
.subtrac{
    position: absolute;
    width: 164px;
    height: 18px;
    left: 200px;
    top: 64px;
}
.head-p{
    position: absolute;
    width: 297px;
    height: 20px;
    left: 883px;
    top: 40px;
    font-family: Source Sans Pro;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #222222;
}
.head-h2{
    font-size: 35px;
    position: absolute;
    width: 560px;
    left: 420px;
    top: 181px;
    font-size: 48px;
    display: flex;
    text-align: center;
    line-height: 48px;
    font-family: Playfair Display;
}
.div-p{
    font-size: 20px;
    position: absolute;
    line-height: 28px;
    width: 560px;
    height: 48px;
    left: 420px;
    top: 310px;
    font-size: 24px;
    text-align: center;
    color: rgba(34, 34, 34, 0.75);
}
section{
    text-align: center;
    padding: 80px 0;
}
.button-r{
    position: absolute;
    width: 209px;
    height: 48px;
    left: 595px;
    top: 405px;
    background: #F33D01;
    border-radius: 48px;
}
.href{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.capture{
    position: absolute;
    width: 560px;
    height: 72px;
    left: 420px;
    top: 760px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #2F3035;
}
.stand{
    color: #868686;
    position: absolute;
    width: 265px;
    left: 570px;
    top: 855px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.landing{
    position: absolute;
    left: 700px;
    top: 970px;
}
.main{
    position: absolute;
    color: #86899B;
    left: 220px;
    top: 1005px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.display{
    position: absolute;
    width: 435px;
    left: 220px;
    top: 1050px;
    font-size: 32px;
    font-family:'Playfair Display', serif;;
}
.quo{
    position: absolute;
    left: 650px;
    width: 64px;
    height: 64px;
    top: 690px;
    border-radius: 65px;
}
.nemo{
    color: #86899B;
    top: 1160px;
    position: absolute;
    width: 435px;
    left: 220px;
    font-size: 20px;
    line-height: 25px;
}
.mail{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 220px;
    top: 1290px;
}
.with{
    position: absolute;
    width: 364px;
    left: 294px;
    top: 1290px;
    font-size: 25px;
    line-height: 28px;
}
.enim{
    color: #86899B;
    position: absolute;
    width: 364px;
    left: 292px;
    top: 1334px;
    font-size: 20px;
    line-height: 24px;
}
.icor{
    position: absolute;
    left: 220px;
    top: 1446px;
}
.respon{
    position: absolute;
    width: 364px;
    left: 292px;
    top: 1446px;
    font-size: 24px;
    line-height: 28px;
}
.sam{
    color: #86899B;
    position: absolute;
    width: 364px;
    left: 292px;
    top: 1490px;
    font-size: 20px;
    line-height: 24px;
}
.icon{
    position: absolute;
    left: 220px;
    top: 1760px;
    transform: rotate(-15deg);
}
.gree{
    position: absolute;
    width: 364px;
    left: 292px;
    top: 1755px;
    font-size: 24px;
    line-height: 28px;
}
.sid{
    position: absolute;
    width: 364px;
    left: 292px;
    top: 1800px;
    color: #86899B;
    font-size: 20px;
    line-height: 24px;
}
.feat{
    position: absolute;
    left: 745px;
    top: 1755px;
}
.intro{
    position: absolute;
    width: 360px;
    height: 25px;
    left: 810px;
    top: 1750px;
}
.samp{
    color: #86899B;
    position: absolute;
    width: 360px;
    left: 810px;
    top: 1805px;
    font-size: 20px;
    line-height: 24px;
}
.vector{
    position: absolute;
    width: 20px;
    height: 20px;
11:39 AM
left: 220px;
    top: 1980px;
    transform: rotate(-15deg);
}
.tero{
    position: absolute;
    width: 350px;
    height: 28px;
    left: 280px;
    top: 1960px;
    font-size: 24px;
    line-height: 28px;
}
.bg-nemo{
    position: absolute;
    width: 350px;
    height: 72px;
    left: 280px;
    top: 2000px;
    font-size: 20px;
    line-height: 24px;
    color: #86899B;
}
.iconca{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 750px;
    top: 1960px;
    transform: rotate(-15deg);
}
.clocta{
    top: 1950px;
    left: 800px;
    position: absolute;
}
.land{
    position: absolute;
    left: 800px;
    top: 2000px;
    color: #86899B;
    width: 364px;
    font-size: 20px;
    line-height: 24px;
}
.contact{
    position: absolute;
    top: 2200px;
    left: 540px;
    color: #86899B;
    font-size: 18px;
    line-height: 20px;
}