@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
header{
    display: flex;
    flex-direction: column;
    background-image: url(./image-\(2\).png); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;

}
.container-in-which-the-logo-and-mini-navigation img{
    padding-left: 150px ;
    margin-top: 10px ;
}
.container-in-which-the-logo-and-mini-navigation p {
    justify-content: space-around;
    margin: auto;
    padding-right:  80px ;
 }
 .this-contains-the-site-title-info-and-button{
    text-align: center;
    margin-top: auto;
    padding-top: 80px;
}
.this-contains-the-site-title-info-and-button button{
    border: 1px solid red;
    border-radius:20px;
    margin: 20px;
   padding-top: 7px ;
   padding-bottom: 7px ;
   padding-left: 26px ;
   padding-right: 26px;
   background-color: red;
   color: white;
}
.there-is-a-rounded-picture-in-the-middle{
    display: flex;
    justify-content: center;
}